 <div class="row bg-title" id="vue_title">
    <!-- .page title -->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
       <h4 class="page-title">{%raw%}{{Title}}{%endraw%}</h4>
    </div>
    <!-- /.page title -->
    <!-- .breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
          <li><a href="#" onClick="showDashboard()" >Inicio</a></li>
          <li class="active">Agenda</li>
       </ol>
    </div>
    <!-- /.breadcrumb -->
 </div>
 <!-- .row -->

<script src="{{ url_for('static', filename='js/vuetitle.js') }}"></script>

<div id='calendar'></div>
<script>
Vue.set(vue_title,'Title',"Agenda {{var['UserName']}}");
getCalendar({{var['UserId']}});
</script>
