
 <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
       <h4 class="page-title" id="title1">Modificar Password</h4>
    </div>
 </div>

<form autocomplete="off" action="/" id="" class="form-material form-horizontal">
  <div class="row">
    <div class="col-xs-12">
      <div class="white-box">
        <div class="form-group">
          <label class="col-xs-12" for="password">Current Password</label>
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Current Password" name="password" id="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12" for="password1">New Password</label>
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="New Password" name="password1" id="password1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12" for="password2">Confirm New Password</label>
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Confirm New Password" name="password2" id="password2">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" onClick="changePassword()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

