<div class="row bg-title" id="vue_title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 p-b-20">
    <h4 class="page-title">{%raw%}{{Title}}{%endraw%}</h4>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 p-b-20">
    <ol class="breadcrumb">
      <li>
        <button onclick="RunReport()" class="btn btn-info btn-rounded waves-effect waves-light m-r-10 m-b-10">
          <span class="btn-label">
            <i class="fa fa-check"></i>
          </span>Ejecutar
        </button>
      </li>
  </div>
</div>

<form action="/" autocomplete="off" id="record_form" class="form-material form-horizontal">
  <div class="row" id="filters">
    <div class="col-xs-12">
      <div class="white-box" v-if="htmlView.Filters">
        <div class="form-group" v-for="tab_fields in htmlView.Filters['Fields']">
          <div class="col-xs-12 col-md-6 p-b-20" v-for="field in tab_fields">
            <label class="col-xs-12" :for="field">
              {% raw %} {{filters[field].Label}} {% endraw %}
            </label>
            <div class="col-xs-12">
              <input class="form-control" v-if="filters[field].Type=='date'" required="" name="field" id="field"
              v-model="filters[field].Value" type="date">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row" id="result">
  <div class="col-xs-12">
      <div class="white-box">
        <table class="table">
          <tr>
            <td v-for="column in Columns">{% raw %} {{column}} {% endraw %}</td>
          </tr>
          <tr v-for="row in Rows">
            <td v-for="value in row">{% raw %} {{value}} {% endraw %}</td>
          </tr>
        </table>
      </div>
  </div>
</div>



<script src="{{ url_for('static', filename='js/vuereport.js') }}"></script>
<script src="{{ url_for('static', filename='js/vuetitle.js') }}"></script>

{% block button_script %}
<script type=text/javascript>
  SetReport('{{var['ReportClass']}}');
</script>
{% endblock %}
